footer{
    background-color:#aaa;
}

.Catalogo {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}
.Novedades {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}
.Nosotros {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}

h2{
    font-family: "Alfa Slab One", cursive;
    font-size: 2rem;
}

html {
    scroll-behavior: smooth;
}

.scroll_section {
    scroll-margin-top: 60px;
}

.staff {
    background: #efefef;
    background: gray;
  
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
  
}
