footer{
    background-color:#aaa;
}

.Catalogo {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}
.Novedades {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}
.Nosotros {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    text-align: center;
}

.card-title {
    font-family: "Alfa Slab One", cursive;
    font-size: 1.5rem;
    text-align: center;
}

.card {
    filter: drop-shadow(0 0 0.80rem gray);
    display: flex;
    transition: transform 0.3s ease;
    width: 280px;
    margin: 0 auto;
}


img:hover {
    transform: scale(1.15);
}

html {
    scroll-behavior: smooth;
}

.scroll_section {
    scroll-margin-top: 60px;
}

.staff {
    background: #efefef;
    background: gray;
  
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
  
}
