h1 {
    color:blue;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    left: 100px;
    margin:20px;
}
img{    
    position:relative;
    left: 1200px;
    top: 10px;
    width: 250px;}
.destacado{
    color: black;
    font-weight: bold;
    font-style: italic;
    position:relative;
    border: 20px;
    padding: 5px;
    bottom: 250px;
    left: 100px;
    margin: 20px;}

p{ color:grey;
   text-align:left;
   font-size: 20px;
   font-family:cursive;
   left: 100px;}

h2{ color:blue;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;}

#destacado{
    color: black;
    font-weight: bold;
    font-style: italic;
    left: 100px;
    position:relative;
}